<% var profile = theme.customize.profile; %>
<% var tagCount = site.tags.filter(function(tag) { return tag.length; }).length; %>
<aside id="profile">
    <div class="inner profile-inner" id="profileDetail" style="display: none;">
        <div class="base-info profile-block">
            <img id="avatar" style="border-radius : 50%;-webkit-border-radius : 50%;-moz-border-radius : 50%;" src="<%= ( profile.gravatar ? gravatar(profile.gravatar, 128) : url_for(profile.avatar)) %>" />
            <h2 id="name"></h2>
            <h3 id="title"><%= profile.author_title %></h3>
            <span id="location"><i class="fa fa-map-marker"></i><%= profile.location %></span>
            <!--<a id="follow" target="_blank" href="<%= profile.follow %>"><%= __('profile.follow') %></a>-->
        </div>
        <div class="article-info profile-block">
            <div class="article-info-block">
                <div id="repos"></div>
                <span>REPOS</span>
            </div>
            <div class="article-info-block">
                <div id="followers"></div>
                <span>FOLLOWERS</span>
            </div>
        </div>
        <% if(theme.customize.social_links) { %>
        <div class="profile-block social-links">
            <table>
                <tr>
                    <% var tooltipClass = theme.customize.social_link_tooltip === false ? '' : 'class=tooltip'; %>
                    <% for(var i in theme.customize.social_links) { %>
                    <td>
                        <a href="<%- url_for(theme.customize.social_links[i]) %>" target="_blank" title="<%= i %>" <%= tooltipClass %>>
                            <i class="fa fa-<%= i %>"></i>
                        </a>
                    </td>
                    <% } %>
                </tr>
            </table>
        </div>
        <% } %>
        <!--<div class="article-info profile-block">
            <div class="article-info-block">
                <%= site.posts.length %>
                <span><%= (site.posts.length > 1 ? __('profile.posts') : __('profile.post')) %></span>
            </div>
            <div class="article-info-block">
                <%= tagCount %>
                <span><%= (tagCount > 1 ? __('profile.tags') : __('profile.tag')) %></span>
            </div>
        </div>-->
    </div>

    <div id="sidebar">
        <% theme.widgets.forEach(function(widget) { %>
        <%- partial('widget/' + widget) %>
        <% }) %>
        <div id="toTop" class="fa fa-angle-up"></div>
    </div>
</aside>
<script>
    function store(key, value) {
        try {
            if (window.localStorage) {
                if (value) {
                    value._timestamp = new Date().valueOf();
                    localStorage[key] = JSON.stringify(value);
                } else {
                    var ret = localStorage[key];
                    if (ret) {
                        return JSON.parse(ret);
                    }
                    return null;
                }
            }
        } catch(e) {}
    }

    function escape(text) {
        return text.replace(/</g, '&lt;').replace(/>/g, '&gt;');
    }

    function numberic(num) {
        if (!num) return null;
        if (num === 1000) return 1;
        if (num < 1000) return num;
        num = num / 1000;
        if (num > 10) return parseInt(num, 10) + 'k';
        return num.toFixed(1) + 'k';
    }

    var url = 'https://api.github.com/users/mayajuni';


    $.get(url, function(data) {
        var defaults = '0';
        data.name = escape(data.name);
        data.public_repos = numberic(data.public_repos) || defaults;
        data.public_gists = numberic(data.public_gists) || defaults;
        data.followers = numberic(data.followers) || defaults;

        $('#avatar').attr("src", data.avatar_url);
        $('#avatar-header').attr("src", data.avatar_url);
        $("#name").html(data.name);
        $("#title").html(data.bio);
        $("#repos").html(data.public_repos);
        $("#location").html(data.location);
        $("#followers").html(data.followers);
        $("#profileDetail").show();
    });
</script>
